body
{
    text-align: center;
}

#app {
    background-color: rgb(211, 224, 30);
}

#myCarousel
{
    background-color: rgb(189, 25, 25);
}
#mycarousel img{
    height:300px;
    margin-top:35px;
}
.carousel-inner p{
    margin-top:15px;
    color:blue;
    font-size:20px;
}


